---
import Section from "../Section.astro";
import { work } from "@cv";
---

<Section title="Experiencia laboral">
  <ul class="flex flex-col gap-4">
    {
      work.map(({ name, position, url, startDate, endDate, summary }) => {
        const startYear = new Date(startDate).getFullYear();
        const endYear = !!endDate ? new Date(endDate).getFullYear() : "Actual";
        const years =
          startYear === endYear ? `${startYear}` : `${startYear} - ${endYear}`;
        return (
          <li>
            <article class="">
              <header class="flex justify-between">
                <div>
                  <h3 class="text-xl text-gray-900 font-bold">{name}</h3>
                  <h4 class="text-md text-gray-700 font-semibold">
                    {position}
                  </h4>
                </div>
                <time class="text-md">{years}</time>
              </header>
              <footer>
                <p class="text-gray-600">{summary}</p>
              </footer>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>
